.contentArticle {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);

  .todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input[type='checkbox'] {
      min-width: 30px;
      min-height: 30px;
      margin-right: 1rem;
    }
  }

  .trash {
    background-color: #fff;
    color: mediumvioletred;

    svg {
      width: 28px;
      height: 28px;
      margin: auto;
    }

    &:focus,
    &:hover {
      filter: brightness(120%);
    }
  }
}
